<!--  BEGIN FOOTER  -->
<footer class="footer footer-transparent dh-footer d-print-none">
  <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            <a href="{% url 'dashboard' %}" class="link-secondary text-decoration-none">
              <i class="fas fa-shield-halved me-1"></i> ProjectV3
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            Copyright &copy; 2026
            <a href="." class="link-secondary text-decoration-none">Azuelo Technology</a>. All rights reserved.
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--  END FOOTER  -->